# == Settings for Yoto Library ==
# Copy this file and rename to .env to have this configuration picked up by dotenv
# Uncomment the providers you want to use to enable functionality

# Claude (through Anthropic) is required for most general evaluation and decision-making tasks
# To use your Claude subscription, be sure claude CLI is installed and do not provide an API key
ANTHROPIC_API_KEY=sk-ant-*

# RetroDiffusion (retrodiffusion.ai) is used to generate Yoto track icons
#RETRODIFFUSION_API_KEY=rdpk-*

# GPT Image models (through OpenAI) are used to generate Yoto card art
#OPENAI_API_KEY=sk-proj-*

# Gemini is used to extract and replicate text from album art text when recomposing
#GEMINI_API_KEY=<key>
# FLUX (through together.ai) is used for recomposing square album art into Yoto card size
#TOGETHER_API_KEY=tgp_v1_*

# If you have a ColorSync profile for the Canon Selphy CP1300, it will be used when printing
#YOTO_ICC_PROFILE="/Library/ColorSync/Profiles/Canon_Selphy_CP1300.icc"
